/* Grid for collection */
#collection-selectors {
	display: grid;
	grid-template-columns: repeat(4, auto); /* 4 per row */
	gap: 6px 16px;
}

/* Reusable hidden class */
.hidden {
	display: none !important;
}

/* Give red color for different items between setups */
.diff { 
	color: red; font-weight: bold; 
}

/* Battle log in battle.html */
.log-box {
	white-space: pre-line;
	border: 1px solid #cc0000;
	padding: 10px;
	max-height: 300px;
	overflow-y: auto;
	background-color: #fffafa;
}
